:root {
  --white: #fff;
  --primary: #f59e0b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Montserrat", sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: var(--white);
  font-size: 2rem; /* 20px */
}
