@use "base/variables" as v;
@use "base/mixins" as m;

.sobre-festival {
  img {
    border-radius: 1.2rem;
    position: relative;
  }
  @include m.contenedor;
  @include m.desktop {
    @include m.grid(2, 5rem);
  }
}

.contenido-festival {
  margin-top: 4rem;
  @include m.desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .fecha {
    color: v.$verde;
    font-weight: 700;
  }
}
